.layout_program_stages {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40px calc(100vh - 136px) 80px;
    gap: 8px 8px;
    grid-auto-flow: row dense;
    justify-content: top;
    align-content: top;
    grid-template-areas:
        "sub-bar-section survey-section"
        "list-section survey-section"
        "fab-section cta-section";
    width: 100vw;
    height: 100vh;

    .sub-bar-section {
        grid-area: sub-bar-section;
    }

    .survey-section {
        grid-area: survey-section;
    }

    .list-section {
        overflow-y: auto;
        padding-right: 1px;
        grid-area: list-section;
    }

    .fab-section {
        grid-area: fab-section;

        .fab{
            margin: 16px auto;
        }
    }

    .cta-section {
        font-size:2em;
        grid-area: cta-section;
    }
}