// Typography em%
$font_nav_tt1: 21px;
$font_nav_tt2: 12px;
$font_nav_tts: 0.9em;
$font_nav_back: 0.8em;

$font_card_label: 1em;
$font_card_l: 0.8em;

$font_topBar_label: 1em;
$font_topBar_l: 0.8em;

$color_typ_Primary: #333333; // prymary
$color_typ_PLight: #b0b0b8; // prymary light
$color_typ_PDark: #0c0c0c; // prymary dark