#menu {
    background: #276696;
    color: #FFF;
    height: 48px;
    padding-left: 18px;
    border-radius: 0px;
  
    ul, li {
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }
  
    ul {
      width: 100%;
    }
  
    li {
      float: left;
      display: inline;
      position: relative;
    }
  
    a {
      display: block;
      line-height: 48px;
      padding: 0 14px;
      text-decoration: none;
      color: #FFFFFF;
      font-size: 16px;
  
      &.dropdown-arrow:after {
        content: "\25BE";
        margin-left: 5px;
      }
    }
  
    li a:hover {
      color: #FFFFFF;
      background: #276696;
    }
  
    input {
      display: none;
      margin: 0;
      padding: 0;
      height: 48px;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  
    label {
      display: none;
      line-height: 48px;
      text-align: center;
      position: absolute;
      left: 35px;
  
      &:before {
        font-size: 1.6em;
        content: "\2261";
        margin-left: 20px;
      }
    }
  
    ul.sub-menus {
      height: auto;
      overflow: hidden;
      width: 170px;
      background: #276696;
      position: absolute;
      z-index: 99;
      display: none;
  
      li {
        display: block;
        width: 100%;
      }
  
      a {
        color: #FFFFFF;
        font-size: 16px;
      }
    }
  
    li:hover ul.sub-menus {
      display: block;
    }
  
    ul.sub-menus a:hover {
      background: #8ecbfa;
      color: #333;
    }
  }
  
  @media screen and (max-width: 800px) {
    #menu {
      position: relative;
  
      ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
  
        &.sub-menus {
          width: 100%;
          position: static;
  
          a {
            padding-left: 30px;
          }
        }
      }
  
      li {
        display: block;
        float: none;
        width: auto;
      }
  
      input, label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
  
      input {
        z-index: 4;
  
        &:checked {
          + label {
            color: white;
  
            &:before {
              content: "\00d7";
            }
          }
  
          ~ ul {
            display: block;
          }
        }
      }
    }
  }